a.skip{
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

body {
    background-image: url("../images/background.jpeg");
}

a[href="about.html"], a[href="home.html"]{
    text-decoration: none;
}

a[href="work.html"]:visited{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

a:hover, a:focus{
    color: pink;
    text-decoration: underline;
}

h1{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

p, h1, h2{
    padding: 30px;
}

h2{
    font-size: 2em;
}

nav li{
    padding: 10px;
    display: block;
    border: 3px solid white;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
}

nav{
    padding: 20px;
    text-align: center;
    justify-content: center;
}

img{
    height: 175px;
    max-width: 595px;
    width: auto;
    padding: 10px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 10px;
    
}

img:nth-last-child(-n+3):focus, img:nth-last-child(-n+3):hover{
    height: 250px;
    width: auto;
}

.flex{
    display: flex;
    flex-direction: column;
}

footer {
    display: inline-block;
    align-items: baseline;
}

@media screen and (min-width: 650px) {
    nav li{
        display: inline-block;
    }
    .flex{
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) {
    nav li{
        display: inline-block;
    }
    .flex{
        flex-direction: row;
    }
}